<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="peteli.flaus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <peteli.flaus.Properties.Settings>
            <setting name="ListObjectNameProjects" serializeAs="String">
                <value>tbl_projects</value>
            </setting>
            <setting name="ListObjectNameFloorGridSizes" serializeAs="String">
                <value>tbl_FlaecheRasterMatrix</value>
            </setting>
            <setting name="ListObjectNameExceptedAllocations" serializeAs="String">
                <value>tbl_manPVB</value>
            </setting>
        </peteli.flaus.Properties.Settings>
    </userSettings>
</configuration>